.teams {

    &__content {
        margin-bottom: calc(var(--vw) * 100);
        @media (min-width:1440px) {
            margin-bottom: 100px;
        }
        @media (max-width: 356px) {
            margin-bottom: 30px;
        }
    }
    &__text {
        max-width: 471px;
        width: 100%;
        margin-bottom: 79px;
        @media (max-width: 710px) {
            margin-bottom: calc(100vw/710 * 70);
        }
    }
    &__block {
        max-width: 1200px;
        margin: 0 auto;
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(282px, 282px));
        // grid-template-rows: 1fr 1fr;
        gap: 22px;
        justify-content: center;
        max-width: 1200px;
        margin: 0 auto;

        @media (max-width: 710px) {
            display: flex;
            overflow-x: scroll;
            justify-content: flex-start;
            height: 410px;
        }
        @media (max-width: 356px) {
            height: calc(100vw/356 * 400 + 70px);
        }
    }
    &__person {
        background-color: var(--primary-blue100);
        position: relative;
        height: 386px;
        @media (max-width: 356px) {
            height: calc(100vw/356 * 386);
            width: calc(100vw/356 * 282);
        }
    }
    &__description {
        background-color: var(--white);
        margin: 0 12px 12px;
        padding: 18px;
        position: absolute;
        bottom: 0px;
        width: 91%;
        @media (max-width: 356px) {
            margin: 5px;
            padding: calc(100vw/356 * 18);
            position: static;
            width: 97%;
            box-shadow: 0 0 10px 0px var(--primary-blue10);
        }
    }
    &__name {
        font-size: 24px;
        line-height: 34px;
        font-weight: 600;
        color: var(--grayscale50);
        @media (max-width: 356px) {
            font-size: 12px;
            line-height: 12px;
            font-weight: 400;
        }
    }
    &__post {
        font-size: 16px;
        line-height: 26px;
        font-weight: 400;
        color: var(--grayscale10);
        @media (max-width: 356px) {
            font-size: 12px;
            line-height: 12px;
            font-weight: 400;
        }
    }
    &__img {
        @media (max-width: 356px) {
            height: calc(100vw/356 * 386);
            width: calc(100vw/356 * 282);
        }
    }
}
