.about-achievement {
    margin-bottom: calc(var(--vw) * 80 + 20px);
    @media (min-width: 1440px) {
        margin-bottom: 100px;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        // gap: 60px;
        @media (max-width: 767px) {
            gap: calc(var(--vw) * 60);
        }
    }
    &__img {
        // width: 75%;
        // max-width: 883px;
        // width: 75%;
        // height: 100%;
        flex: 1 1 auto;
        margin-right: min(60px, max(var(--vw) * 60, 26px));
    }
    &__photo {
        width: 100%;
        height: auto;
        vertical-align: middle;
        object-fit: cover;
    }
    &__title {
        margin-bottom: calc(var(--vw) * 56);
        @media (min-width: 1440px) {
            margin-bottom: 56px;
        }
    }
    &__advantage {
        // width: 22.5%;
        // width: 25%;
        max-width: 252px;
    }
    &__block {
        margin-bottom: 2px;
    }
}
