.details {
    &__head {
        margin-bottom: calc(var(--vw) * 100);
        @media (min-width: 1440px) {
            margin-bottom: 100px;
        }
    }
    &__content {
        margin-bottom: 82px;
        @media (max-width: 640px) {
            margin-bottom: 0px;
        }
    }
    &__row {
        display: flex;
        column-gap: 32px;
        @media (max-width: 640px) {
            flex-direction: column;
            row-gap: calc(var(--vw) * 32);
        }
    }
    &__info {
        position: relative;
        width: 50%;
        @media (max-width: 640px) {
            width: 100%;
            margin-bottom: calc(var(--vw) * 80 + 20px);
        }
    }
    &__title {
        margin-bottom: 24px;
    }

    &__text {
        color: var(--grayscale10);
    }
    &__signature {
        display: flex;
        margin-top: calc(var(--vw) * 60);
        gap: calc(var(--vw) * 80);
        position: absolute;
        bottom: 0;
        @media (min-width: 1440px) {
            gap: 80px;
            margin-top: 60px;
        }
        @media (max-width: 640px) {
            position: static;
        }
    }
    &__date {
    }
    &__design {
    }
    &__img {
        width: 100%;
    }
    &__photo {
        width: 100%;
    }
    &__projects {
        display: flex;
        flex-direction: column;
        gap: calc(var(--vw) * 32);
        align-content: center;
        flex-wrap: wrap;
        @media (min-width: 1440px) {
            gap: 32px;
        }
    }
}
