.home-material {
    display: flex;
    position: relative;
    @media (max-width: 960px) {
        flex-direction: column;
    }
    &__content {
        width: 48%;
        padding: 45.5px 0;
        @media (max-width: 960px) {
            width: auto;
            padding: 20px 0;
        }
    }
    &__title {
        margin-bottom: 10px;
        width: 60%;
        @media (max-width: 1200px) {
            width: auto;
        }
    }
    &__text {
        width: 90%;
        color: var(--grayscale10);
        margin-bottom: 23px;
    }
    &__btn {
        max-width: none;
    }
    &__imgs {
        display: grid;
        grid-template-areas: "area-1 area-2 area-2"
                             "area-1 area-3 .";
        gap: calc(var(--vw) * 40);
        @media (max-width: 960px) {
            width: 100%;
            grid-template-columns: 2fr 1fr 5%;
        }
    }
    &__photo-main {
        width: calc(var(--vw) * 341);
        grid-area: area-1;
        align-self: end;
        margin-bottom: -6px;
        @media (max-width: 960px) {
            width: 100%;
        }
    }
    &__photo-over {
        width: calc(var(--vw) * 241);
        grid-area:  area-2;
        align-self: end;
        margin-bottom: -6px;
        @media (max-width: 960px) {
            width: 100%;
        }
    }
    &__photo-under {
        width: calc(var(--vw) * 195);
        grid-area:  area-3;
        @media (max-width: 960px) {
            width: 100%;
        }
    }
    &__photo {
        width: 100%;
    }
}
