.home-material {
    display: flex;
    position: relative;
    // border: 1px solid red;
    @media (max-width: 960px) {
        flex-direction: column;
    }
    &__content {
        width: 48%;
        padding: calc(var(--vw) * 48) 0;
        @media (min-width: 1440px) {
            min-height: 490px;
            padding: 48px 0;
        }
        @media (max-width: 960px) {
            width: auto;
            padding: 20px 0;
        }
    }
    &__title {
        margin-bottom: 10px;
        width: 60%;
        @media (max-width: 1200px) {
            width: auto;
        }
    }
    &__text {
        width: 90%;
        color: var(--grayscale10);
        margin-bottom: 23px;
    }
    &__btn {
        max-width: none;
    }
    &__imgs {
        display: grid;
        grid-template-areas: "home-material__photo-main home-material__photo-over"
                             "home-material__photo-main home-material__photo-under";

        grid-template-columns: 57% 43%;
        column-gap: calc(var(--vw) * 27);
        @media (max-width: 960px) {
            // grid-template-areas: "home-material__photo-main home-material__photo-over home-material__photo-under";
            // grid-template-columns: repeat(3, 1fr);
            width: 100%;
            row-gap: calc(var(--vw) * 27);
            // justify-items: end;
        }
    }
    &__photo-main {
        max-width: 341px;
        width: calc(var(--vw) * 341);
        max-height: 392px;
        grid-area: home-material__photo-main;
        align-self: end;
        justify-items:stretch;
        width: 100%;
        @media (max-width: 960px) {
            width: 100%;
            height: auto;
        }

    }
    &__photo-over {
        max-width: 241px;
        width: 100%;
        grid-area: home-material__photo-over;
        @media (max-width: 960px) {
            width: 100%;
            height: auto;
        }
    }
    &__photo-under {
        max-width: 195px;
        width: calc(var(--vw) * 195);
        max-height: 178px;
        grid-area: home-material__photo-under;
        @media (max-width: 960px) {
            width: 100%;
            height: auto;
        }
    }
}
